<form method="POST" action="/post/create">
    <p>Seu nome:</p> <input type="text" name="name"/>
    <p>Título:</p> <input type="text" name="title"/>
    <p>Texto:</p> <input type="text" name="text"/><br/><br/>
    <input type="submit" value="Enviar"/>
</form>