<!DOCTYPE html>
<html>
<head>
    <title>Blog Estático com Sinatra</title>
</head>
<body>

    <h1>Blog Estático com Sinatra</h1>
    <a href="/">Home</a>
    <a href="/post/new">Novo Post</a>

    <h2>Posts</h2>

    <%= yield %>

</body>
</html>